.progress-content
{
  padding: 1rem;
  .icon
  {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .bi
    {
      color: var(--bs-primary)
    }
  }

  .uploading
  {
    .title
    {
      font-weight: bolder;
      font-size: 1.5rem;
    }
    .message
    {
      font-weight:normal;
      font-size: 0.9rem;
      line-height: 1.1rem;
      color: var(--bs-light-text-emphasis)
    }
  }
}


